@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400&display=swap");
:root {
    --dark-grey: #333;
    --light-grey: #888;
    --superLight-grey: #d4d4d4;
    --grey: #555;
    font-size: 32px;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h3,
h2,
h1,
p {
    padding: 0;
    margin: 0;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--light-grey);
}

h2 {
    font-family: "Playfair Display", serif;
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 2.25rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
}

.h2Alignh3 {
    margin-left: -1.5px;
}

/* .routerContainerAnimation-appear {
    opacity: 0;
}
.routerContainerAnimation-appear-active {
    opacity: 1;
    transition: opacity 500ms;
}

.routerContainerAnimation-enter {
    opacity: 0;
}

.routerContainerAnimation-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.routerContainerAnimation-exit {
    opacity: 1;
}
.routerContainerAnimation-exit-active {
    opacity: 0;
    transition: opacity 500ms;
} */

.scale-enter,
.scale-exit {
    position: absolute;
}

@-webkit-keyframes moveFromRight {
    from {
        transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    from {
        transform: translateX(100%);
    }
}

@-webkit-keyframes scaleDown {
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes scaleDown {
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}
.scale-enter-active {
    animation: moveFromRight 600ms ease both;
    z-index: 2;
}

.scale-exit-active {
    animation: scaleDown 600ms ease both;
    z-index: 1;
}

@media (min-width: 320px) {
    :root {
        font-size: 24px;
    }

    html,
    body {
        height: calc(100vh);
    }
}
@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    :root {
        font-size: 32px;
    }
    html,
    body {
        height: 100vh;
    }
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
