.detailsContainer {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.palantirDefault {
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
}

.palantirFoundry{
    position: absolute;
    left: 0;
    width: 65.85%;
    top: 13%;
    left: 18.3%;
}

.palantirTopSection{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.uoftDefault {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.titleContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.nameTitle {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    font-family: "Playfair Display", serif;
}

.subTitle {
    color: white;
    width: 100%;
    font-family: "Playfair Display", serif;
    font-size: 0.5rem;
    font-weight: 600;
}

.uoftBold{
    font-weight: 500;
    color: #002554;
}

.palantirBold{
    font-weight: 500;
    color: #000000;
}

.st0 {
    fill: #fff;
}

.ipad {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.ipadContainer{
    width: 80vw;
    position: relative;
}

.tripletTopSection{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.iphoneContainer{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.iphone{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
}
.condosIphoneImageStyling{
    position: absolute;
    width: 60.1%;
    left: 31.2%;
    top: 10%;

}

.arriveIphoneImageStyling{
    position: absolute;
    width: 60.5%;
    top: 10%;
    left: 31.15%;
}


.detailsTopSection {
}

.detailsTitleContainer {
}

.greyedTagline {
    color: var(--superLight-grey);
}

.quotationText {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-grey);
}
.topSection {
    height: 50vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
}

.quotationContainer {
    margin-top: 1rem;
}

.contentContainer {
    padding: 1rem 2rem;
}

.contentDetailPart1{
    margin: 3rem 0;
    line-height: 2;
}

.hackTheNorthLogoDefault {
    width: 150px;
    height: 150px;
}

.detailsPadding {
    padding: 1rem 2rem;
}

.metaDataText {
    font-family: "Playfair Display", serif;
    font-size: 0.5rem;
    font-weight: 600;
}

.counterStyle {
    font-family: "Roboto";
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1;
}

.htn1{
    position: absolute;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    left: 21%;
    width: 60%;
    top: 22%;
}

.ipadBackground{
    width: 66%;
    height: 73.4%;
    position: absolute;
    top: 12.77%;
    left: 18.2%;
}

.htnTopSection{
    display: flex;
    flex-direction: column;
    align-items: ;
}

@media (min-width: 320px) {
    .tripletContainer{
        width: 100%;
    }
    
    .ipad{
        width: 100%;
    }
    .palantirTopSection{
        padding: 1rem 2rem;
        flex-direction: column;
    }
    .quotationText{
        text-align: center;
    }
    .imageMetadata {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textFact {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
    .textFactBottomRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 1;
    }
    .textFactVertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1;
    }

    .contentContainer {
        padding: 1rem 2rem;
    }
    .detailsPadding {
        padding: 1rem 2rem;
    }
    .topSection {
        padding: 1rem 2rem;
    }
    .rbcLogoDefault {
        width: 225px;
        margin-bottom: 20px;
    }
    .logoImageContainer {
        width: 350px;
        margin-bottom: -50px;
    }
    .condosLogoDefault {
        width: 150px;
        fill: white;
    }
    .nameTitle {
        font-size: 1.75rem;
        text-align: center;
        font-family: "Playfair Display", serif;
    }
    .uoftDefault {
        margin-bottom: 0;
        width: 150px;
        height: 150px;
    }
    .titleContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .subTitle {
        text-align: center;
        margin-bottom: 0px;
    }
    .palantirDefault {
        margin-bottom: 0;
    }
    .secretMissionLogoDefault {
        width: 150px;
        height: 150px;
    }
    .hackTheNorthLogoDefault {
        width: 175px;
        height: 175px;
        margin-bottom: 20px;
    }

    .detailsPadding {
        padding: 1rem 2rem;
    }
}
@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
    .detailsPadding {
        padding: 1rem 2.5rem;
    }
    .contentContainer {
        padding: 1rem 2.5rem;
    }
    .tripletTopSection{
        flex-direction: row;
    }
    .tripletContainer{
        width: 33.3333%;
    }
    
    .midTriplet{
        margin-top: 5rem;
    }
    .endTriplet{
        margin-top: 10rem;
    }
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    .palantirTopSection{
        padding: 1rem 4.5rem;
        flex-direction: row;
    }
    .quotationText{
        text-align: left;
    }
    .quotationContainer {
        display: flex;
        justify-content: flex-end;
    }
    .imageMetadata {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }
    .imageCenter {
        margin-top: 300px;
    }
    .imageBottom {
        margin-top: 600px;
    }
    .textFact {
        width: fit-content;
        text-align: center;
    }
    .topSection {
        padding: 1rem 3.5rem;
    }
    .rbcLogoDefault {
        margin-left: -30px;
    }
    .logoImageContainer {
        margin-bottom: -25px;
    }
    .condosLogoDefault {
        width: 150px;
        fill: white;
        margin-bottom: 25px;
    }
    .nameTitle {
        font-size: 2.5rem;
        text-align: start;
        margin-left: -4px;
    }
    .titleContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .subTitle {
        text-align: start;
        margin-bottom: -5px;
    }
    .uoftDefault {
        width: 200px;
        height: 200px;
        margin-bottom: 35px;
    }
    .palantirDefault {
        margin-bottom: 40px;
    }
    .secretMissionLogoDefault {
        width: 175px;
        height: 175px;
        margin-bottom: 40px;
    }
    .detailsPadding {
        padding: 1rem 3.5rem;
    }
    .contentContainer {
        padding: 1rem 3.5rem;
    }
    .iphoneContainer{
        margin-left: -26%;
    }
}


@media (min-width: 1225px) {
    .topSection {
        padding: 1rem 4.5rem;
    }
    .detailsPadding {
        padding: 1rem 4.5rem;
    }
    .contentContainer {
        padding: 1rem 4.5rem;
    }

}
